// main: ~assets/style.scss
@import "~/assets/scss/base/_variable.scss";

/*  button
------------------------------------------------------------------------------*/

/* ---------------------------------- signup btn */

.signup-btn {
  position: absolute;
  top: 50%;
  right: vw-sp(20);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: vw-sp(180);
  max-width: 100%;
  height: vw-sp(90);
  background-image: -moz-linear-gradient(
    0deg,
    rgb(41, 108, 0) 0%,
    rgb(104, 224, 159) 0%,
    rgb(36, 203, 112) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(41, 108, 0) 0%,
    rgb(104, 224, 159) 0%,
    rgb(36, 203, 112) 100%
  );
  border-radius: 2em;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
  font-family: $font2, $font1;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transform: translateY(-50%);
}

.signup-btn a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em 0;
  width: 100%;
  height: vw-sp(80);
  color: $color-base;
  font-size: vw-sp(26);
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease;
  z-index: 2;
}

.signup-btn a:hover {
  color: #25cb71;
}

.signup-btn > div {
  position: absolute;
  top: 0;
  width: 100%;
  height: vw-sp(80);
  left: -100%;
  background-color: $color-base;
  transition: all 0.5s ease;
  z-index: 1;
}

.signup-btn:hover > div {
  left: 0;
  height: 100%;
}

.signup-btn span {
  display: block;
  width: 100%;
  font-size: vw-sp(18);
}

.signup-btn span:nth-of-type(1) {
  margin-bottom: 0.5em;
}

@media screen and (min-width: $breakpoint1) {
  .signup-btn {
    right: vw-pc(20);
    width: vw-pc(200);
    height: vw-pc(60);
  }

  .signup-btn a {
    height: vw-pc(60);
    font-size: vw-pc(18);
  }

  .signup-btn > div {
    height: vw-pc(60);
  }
}

@media screen and (min-width: $breakpoint2) {
  .signup-btn {
    right: 20px;
    width: 200px;
    height: 60px;
  }

  .signup-btn a {
    height: 60px;
    font-size: 18px;
    font-size: 1.8rem;
  }

  .signup-btn > div {
    height: 60px;
  }
}

@media screen and (min-width: $breakpoint1) {
  .signup-btn:hover {
    border: vw-pc(3) solid #25cb71;
  }

  .signup-btn span {
    font-size: vw-pc(15);
  }
}

@media screen and (min-width: $breakpoint2) {
  .signup-btn:hover {
    border: 3px solid #25cb71;
  }

  .signup-btn span {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

.cmn-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: vw-sp(110);
  background-color: $color-base;
  border: vw-sp(3) solid $color-main !important;
  border-radius: vw-sp(60);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  p {
    line-height: 1.4em;
  }
}

.cmn-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2em;
  display: inline-block;
  width: vw-sp(15);
  height: vw-sp(27);
  background-image: url(~assets/img/common/arrow-m.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: 0.3s;
  z-index: 3;
}

.cmn-btn:hover::after {
  background-image: url(~assets/img/common/arrow-w.png);
}

.cmn-btn a,
.cmn-btn > div {
  height: inherit;
}

.cmn-btn a,
.cmn-btn p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-main;
  width: 100%;
  font-size: vw-sp(26);
  font-weight: 500;
  letter-spacing: 0.15em;
  text-decoration: none;
  transition: all 0.5s ease;
  z-index: 2;
}

.cmn-btn > div {
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: $color-base;
  transition: all 0.5s ease;
  z-index: 1;
}

.cmn-btn:hover a,
.cmn-btn:hover p {
  color: $color-base;
}

.cmn-btn:hover > div {
  left: 0;
  background-color: $color-main;
}

@media screen and (min-width: $breakpoint1) {
  .cmn-btn {
    height: vw-pc(80);
    border: vw-pc(2) solid $color-main !important;
    border-radius: vw-pc(40);
  }

  .cmn-btn:after {
    right: 2.5em;
    width: vw-pc(9);
    height: vw-pc(15);
  }

  .cmn-btn a,
  .cmn-btn p {
    font-size: vw-pc(18);
  }
}

@media screen and (min-width: $breakpoint2) {
  .cmn-btn {
    height: 80px;
    border: 2px solid $color-main !important;
    border-radius: 40px;
  }

  .cmn-btn:after {
    width: 9px;
    height: 15px;
  }

  .cmn-btn a,
  .cmn-btn p {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

.start-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: vw-sp(90);
  background: linear-gradient(to right, #32b7b6, #425389);
  border: vw-sp(3) solid $color-base !important;
  border-radius: vw-sp(60);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  p {
    line-height: 1.4em;
  }
}

.start-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1em;
  display: inline-block;
  width: vw-sp(10);
  height: vw-sp(18);
  background-image: url(~assets/img/common/arrow-w.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: 0.3s;
  z-index: 3;
}

.start-btn:hover::after {
  background-image: url(~assets/img/common/arrow-m.png);
}

.start-btn a > p,
.start-btn > div {
  height: inherit;
}

.start-btn a > p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.7em;
  color: $color-base;
  width: 100%;
  font-size: vw-sp(24);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: all 0.5s ease;
  z-index: 2;
  span {
    position: relative;
    top: -0.05em;
    margin-right: 0.2em;
    font-size: 1.25em;
  }
}

.start-btn--kiso a > p span {
  color: #feff90;
}

.start-btn--ouyo a > p span {
  color: #fee079;
}

.start-btn > div {
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: $color-base;
  transition: all 0.5s ease;
  z-index: 1;
}

.start-btn:hover a > p {
  color: $color-base;
}

.start-btn:hover > div {
  left: 0;
  background: linear-gradient(to right, #425389, #32b7b6);
}

.start-btn-label {
  position: absolute;
  top: 50%;
  left: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: vw-sp(65);
  height: vw-sp(65);
  background-color: $color-base;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 3;
  span {
    display: inline-block;
    background: linear-gradient(to right, #425389 25%, #32b7b6 75%);
    color: transparent;
    font-size: vw-sp(20);
    font-weight: 700;
    -webkit-background-clip: text;
  }
}

@media all and (-ms-high-contrast: none) {
  /* IE10,11用 */
  .start-btn-label span {
    background: none;
    color: #32b7b6;
  }
}

@media screen and (min-width: $breakpoint1) {
  .start-btn {
    height: vw-pc(80);
    border: vw-pc(2) solid $color-base !important;
    border-radius: vw-pc(40);
  }

  .start-btn:after {
    right: 2em;
    width: vw-pc(9);
    height: vw-pc(15);
  }

  .start-btn a > p {
    font-size: vw-pc(24);
  }

  .start-btn-label {
    left: 1em;
    width: vw-pc(62);
    height: vw-pc(62);
    span {
      font-size: vw-pc(20);
    }
  }
}

@media screen and (min-width: $breakpoint2) {
  .start-btn {
    height: 80px;
    border: 2px solid $color-base !important;
    border-radius: 40px;
  }

  .start-btn:after {
    width: 9px;
    height: 15px;
  }

  .start-btn a > p {
    font-size: 24px;
    font-size: 2.4rem;
  }

  .start-btn-label {
    width: 62px;
    height: 62px;
    span {
      font-size: 20px;
      font-size: 2rem;
    }
  }
}
